:host{
    height: 50px;
    display: block;
    padding-left: 10px;
    position: relative;
    background-color: #FFEB3B;
    padding-top: 20px;
    &:hover{
        background: #F9cB34
    }
}
label{
 font-weight: bold;

font-size: 20px;
}
app-badge{
position: absolute;
top: 9px;
}