
.container{
    //border: 2px solid #333;
    height: 70px;
    line-height: 70px;
    width: 100%;
    padding: 4px;
    background-color: white;
    font-weight: bold;
    color: black;
    display: flex;
    cursor: pointer;
    .from{
        color: #F44336;
        flex: 0 0 200px;
    }
    .title{
        color: #F44336;
        flex: 1 1 auto;
    }
    .date{
        flex: 0 0 150px;
    }
    div{
        vertical-align: middle;
    }
    &:hover{
        background-color: #EEE;
    }

    &.read{
        background-color: #ccc;
        *{
            font-weight: normal;
            color: #222;
        }
        
    }
}