:host{
    background-color: #fefefe;
    padding: 20px;
    position: relative;
}
.title{
    font-weight: bold;
    font-size: 20px;
}
.from{
    font-size: 14px;
}
.date{
    font-size: 10px;
}
.content{
    margin-top:20px;
}

.delete{
    position: absolute;
    top: 20px;
    right: 20px;
}